{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;" class="mt-4">Add Admin</h1>

<div style="width: 80%;margin-left:80px;" class="mt-3 mb-3">
    <form method="post">
        {% csrf_token %}


        <div class="mb-3">
            {{form.as_p}}
        </div>


        <label>
            <input type="checkbox" name="is_superuser" value="1">
            Is superuser?
        </label>
        <button type="submit" class="btn btn-primary btn">Submit</button>
    </form>
</div>
{% endblock %}