{% extends 'base.html' %}
{% block content %}
<div class="col-lg-12 mt-5">
    <div class="card">
        <div class="card-body">

            <form method="get">
                <div>
                    {{myfilter.form }}
                    <input type="submit" value="submit" class="btn btn-danger">
                </div>

            </form>
            <div class="col-12 mt-0">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Vente Table</h4>
                        <div class="single-table">
                            <div class="table-responsive">
                                <table class="table table-hover progress-table text-center">
                                    <thead class="text-uppercase">
                                        <tr>
                                            <th scope="col">Designation</th>
                                            <th scope="col"> quatité</th>
                                            <th scope="col">prix de vente </th>
                                            <th scope="col"> date </th>
                                            <th scope="col">action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for vent in vente %}
                                        <tr>
                                            <th scope="row">{{vent.produit}}</th>
                                            <td>{{vent.quantity_Vendu}}</td>
                                            <td>{{vent.total_vente}}</td>
                                            <td>{{vent.vendu_at}}</td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="#" class="text-secondary"><i
                                                                class="fa fa-edit"></i></a></li>
                                                    <li><a href="#" class="text-danger"><i class="ti-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>


                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}